.loadingPage{
  align-items: center;
  background: #871B2B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100svh;
  width: 100vw;
}

.logoLoader{
  width: 50px;
  z-index: 999;
}

.loader {
  animation: loading 1s linear infinite alternate;
}

@media(min-width: 768px){
  .logoLoader{
    width: 90px;
  }
}


@keyframes loading {to{opacity: 0}}
